apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: much-to-do-ingress
  namespace: much-to-do
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 8080
